[tools]
python = "latest"

[tasks."install:files"]
description = "Symlink all config files into place"
run = "./install"

[tasks."install:macos"]
sources = ["flake.nix", "flake.lock"]
description = "Uses nix-darwin to update the flake"
run = "sudo darwin-rebuild switch --flake $MISE_CONFIG_ROOT"

[tasks."update:macos"]
description = "Update the nix flake dependencies. Needs to be following by running the nix gneeration"
run = "nix flake update --flake $MISE_CONFIG_ROOT"
outputs = ["flake.lock"]

[tasks."update:dotbot"]
run = "git submodule update --remote dotbot"
